
/* ====================== Reset ================= */
html, body, header, div, span, h1, h2, h3, h4, h5, h6, p, img, ol, ul, li, form, label, table, caption, tbody,tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, nav, section {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
}
/* ====================== General ================= */
html { 	height: 100%;
	width:100%;}
a { color: inherit; }
div {
	padding: 0;
	margin: 0;
}
body {
	display: flex;
 	flex-wrap: wrap;
	background-color: #444444;
	color:white;
  width:inherit;
  height: 100%;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

}
input[type="checkbox"]{
  position:absolute;
  width: 100px;
  height: 100px;
}
/* ====================== Nav bar ================= */
header {
	order: 1;
	width: 100%;
  border: 1px solid white;
  height: 80px;
}
nav, aside {
	padding-left: 50px;
}
nav {
	letter-spacing: .1em;
	display: flex;
	flex-wrap: nowrap;
	justify-content: flex-start;
	color: inherit;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  float: left;
}

nav a {
  position: relative;
}
.title {
	order: 1;
	-webkit-flex: 1;
	flex: 1;
	font-size:2.5em;
}
.menu {
	font-size:1.5em;
	order: 2;
	-webkit-flex: 2;
	flex: 2;
  line-height: 80px;
}
 ul {
    list-style-type: none;
}
li {
    float: left;
}
li a {
    text-align: center;
    padding: 1em;
    text-decoration: none;
}

.underline:after {
  display: block;
  position: absolute;
  left: 0;
  width: 0;
  bottom: 20px;
  height: 0.05em;
  background-color: #ffffff;
  content: "";
  transition: width 0.2s;
}
.underline:hover:after{
  width: 100%;
}
.container {
	order: 2;
	display: flex;
  -webkit-column-count: 2;
-moz-column-count: 2;
column-count: 2;
flex: 1;
}
aside {
  border: 1px solid white;
	order:1;
	padding: 1%;
	background-color:  #8A8A8A;
	-moz-box-shadow: inset 0 0 25px #4E4E4E;
	-webkit-box-shadow: inset 0 0 25px #4E4E4E;
	box-shadow: inset 0 0 25px #4E4E4E;
}
.index{
    width: 100%;
}
.main {
	order:2;
  flex-grow: 1;
  margin: 25px;
}
.portfolio{
  order:2;
  flex-grow: 1;
  height: 100%;
}

label, input, button {
  margin-top: 10px;
}
aside .option {
  width: 100%;
  height: 30px;
  border:  1px solid white;
  margin-top: 10px;
}
  .rslides {
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    }

  .rslides li {
    -webkit-backface-visibility: hidden;
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    }

  .rslides li:first-child {
    position: relative;
    display: block;
    float: left;
    }

  .rslides img {
    display: block;
    height: auto;
    float: left;
    width: 100%;
    height: 100%;
    border: 0;
    }
/* ====================== footer ================= */
footer  {
  border: 1px solid white;
	order: 3;
	text-align: center;
	line-height: 50px;
	width: 100%;
	letter-spacing: .1em;
	font-size:1.1em;
	display: flex;
	justify-content: center;
  padding-bottom: 0px;
  margin-bottom: 0px;
  left: 0;
  bottom: 0;
  height: 50px;
}
footer .icon {
	height:30px;
  top: 10px;
  border-radius: 50%;
	box-shadow: 2px 2px 2px #262626;
	position:relative;
	margin-right: 10px;
}
footer .icon:hover {
	background-color: #ffffff;
	border-radius: 80%;
	opacity:0.3;
}
footer p{
	color: #8A8A8A;
	padding-left: 15px;
}
