
/* ====================== Reset ================= */
html, body, header, div, span, h1, h2, h3, h4, h5, h6, p, img, ol, ul, li, form, label, table, caption, tbody,tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, nav, section {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
}
/* ====================== General ================= */
html { 	height: 100%;
	width:100%;}
a { color: inherit; }
div {
	padding: 0;
	margin: 0;
}
body {
	background-color:#ffffff;
	color: #000000;
  width:inherit;
  height: 100%;
  font-family: "century gothic";

}
input[type="checkbox"]{
  position:absolute;
  width: 100px;
  height: 100px;
}
/* ====================== Nav bar ================= */
header {
	order: 1;
	width: 100%;
  height: 80px;
}
nav, aside {
	padding-left: 50px;
}
nav {
	letter-spacing: .1em;
	display: flex;
	flex-wrap: nowrap;
	justify-content: flex-start;
	color: inherit;
  line-height: 80px;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  float: left;
}

nav a {
  position: relative;
}
.title {
	order: 1;
	-webkit-flex: 1;
	flex: 1;
	font-size:2.5em;
}
.menu {
	font-size:1.2em;
	order: 2;
	-webkit-flex: 2;
	flex: 1;
}
 .menu ul {
    list-style-type: none;
}
.menu li {
    float: left;
}
.menu li a {
    text-align: center;
    padding: 1em;
    text-decoration: none;
}

.underline:after {
  display: block;
  position: absolute;
  left: 0;
  width: 0;
  bottom: 20px;
  height: 0.05em;
  background-color: #000000;
  content: "";
  transition: width 0.2s;
}
.underline:hover:after{
  width: 100%;
}
.container {
	order: 2;
	display: flex;
  -webkit-column-count: 2;
-moz-column-count: 2;
column-count: 2;
flex: 1;
}
aside {
	order:1;
	padding: 1%;
}
.index{
    width: 100%;
    margin-top: 40px;
    margin-bottom: 20px;
}
.main {
	order:2;
  flex-grow: 1;
}
.portfolio{
  order:2;
  height: 100%;
  margin-top: 15px;
}
.block {
  padding: 5px;
  display: table;
}
section #contactID {
  padding: 10px;
  margin-left: 35%;
  margin-right: 35%;
  border-left: 1px dashed black;
  margin-bottom: 20px;
}
section form input {
  border-radius: 4px;
border: none;
padding: 9px;
background-color: #000000;
color: #ffffff;
}
section form input:hover, section form textarea:hover, section form select:hover {
background-color: #ffffff;
color: #000000;
}
section form label {
  width: 100px;
  display: inline-block;
}
section form select {
  border: none;
  width: 150px;
  height: 30px;
  background-color: #000000;
  color: #ffffff;
}
section form textarea {
  width: 200px;
  height: 100px;
  background-color: #000000;
  color: #ffffff;
  vertical-align: text-top;
}
input.submit {
  width: 60px;
  margin-left: 100px;
}
label, input, button {
  margin-top: 10px;
}
aside .option {
  width: 100%;
  height: 30px;
  padding-top: 10px;
  border: none;
  background-color: #ffffff;
  font-size: 15px;
}
.rslides li {
  list-style: none;
}
.rslides img {
  margin-right: auto;
  margin-left: auto;
  width: initial;
}
/* ====================== footer ================= */
footer  {
	order: 3;
	text-align: center;
	line-height: 50px;
	width: 100%;
	letter-spacing: .1em;
	font-size:1.1em;
	display: flex;
	justify-content: center;
  bottom: 0;
  height: 50px;
  margin-top: 600px;
}
 .homepage{
  position:absolute;
}
footer .icon {
	height:30px;
  top: 10px;
  border-radius: 50%;
	position:relative;
	margin-right: 10px;
}
footer .icon:hover {
	border-radius: 80%;
	opacity:0.3;
}
footer p{
	padding-left: 15px;
}
  aside ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  aside li {
    border-bottom: 1px solid #ccc;
    list-style: none;
  }

  aside li:last-child {
    border: none;
  }

  aside li p {
    text-decoration: none;
    color: #000;

    -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
    -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
    -o-transition: font-size 0.3s ease, background-color 0.3s ease;
    -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
    transition: font-size 0.3s ease, background-color 0.3s ease;
    display: block;
  }

  aside li p:hover {
    font-size: 15px;
    background: #f6f6f6;
  }
  .showThumb {
      display: flex;
      padding-top: 10px;
      padding-bottom: 10px;
      flex-wrap: wrap;
  }
.showThumb li {
  list-style: none;
}
@keyframes slowDisplay {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
