
/* ====================== Reset ================= */
html, body, header, div, span, h1, h2, h3, h4, h5, h6, p, img, ol, ul, li, form, label, table, caption, tbody,tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, nav, section {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
}
/* ====================== General ================= */
html { 	height: 100%;
	width:100%;}
a { color: inherit; }
div {
	padding: 0;
	margin: 0;
}
body {
	display: flex;
 	flex-wrap: wrap;
	background-color: #444444;
	color:white;
}
/* ====================== Nav bar ================= */
header {
	order: 1;
	width: 100%;
  border: 1px solid white;
}
nav, aside {
	padding-left: 50px;
}
nav {
	letter-spacing: .1em;
	font-family: 'Calligraffitti', cursive;
	display: flex;
	flex-wrap: nowrap;
	justify-content: flex-start;
	color: inherit;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  float: left;
}

nav a {
  position: relative;
}
.title {
	order: 1;
	-webkit-flex: 1;
	flex: 1;
	font-size:2.5em;
}
.menu {
	font-size:1.5em;
	order: 2;
	-webkit-flex: 2;
	flex: 2;
  line-height: 80px;
}
 ul {
    list-style-type: none;
}
li {
    float: left;
}
li a {
    text-align: center;
    padding: 1em;
    text-decoration: none;
}

.underline:after {
  display: block;
  position: absolute;
  left: 0;
  width: 0;
  bottom: 20px;
  height: 0.05em;
  background-color: #ffffff;
  content: "";
  transition: width 0.2s;
}
.underline:hover:after{
  width: 100%;
}
/* ====================== Main content ================= */
.container {
	order: 2;
	display: flex;
	flex-grow:3;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  height: 500px;
}
aside {
  border: 1px solid white;
	order:1;
  flex-grow: 1;
	padding: 1%;
	background-color:  #8A8A8A;
	-moz-box-shadow: inset 0 0 25px #4E4E4E;
	-webkit-box-shadow: inset 0 0 25px #4E4E4E;
	box-shadow: inset 0 0 25px #4E4E4E;
}
.main {
	order:2;
  flex-grow:6;
  padding:10px;
}

label, input, button {
  margin-top: 10px;
}
aside .option {
  width: 100%;
  height: 30px;
  border:  1px solid white;
  margin-top: 10px;
}
#drop_zone {
    border: 2px dashed #bbb;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 25px;
    text-align: center;
    font: 20pt bold 'Vollkorn';
    color: #bbb;
}
.thumb {
  height: 75px;
  border: 1px solid #000;
  margin: 10px 5px 0 0;
}
aside .option {
  width: 100%;
  height: 30px;
  border:  1px solid white;
  margin-top: 10px;
}
.selectFile, output {
  height: 20px;
  margin: 10px;
}
.selectInput {
  width: 100%;
}
  .thumb {
    height: 75px;
    border: 1px solid #000;
    margin: 10px 5px 0 0;
  }
/* ====================== footer ================= */
footer  {
  border: 1px solid white;
	order: 3;
	text-align: center;
	line-height: 50px;
	width: 100%;
	letter-spacing: .1em;
	font-family: 'Calligraffitti', cursive;
	font-size:1.1em;
	display: flex;
	justify-content: center;
  padding-bottom: 0px;
  margin-bottom: 0px;
}
footer .icon {
	height:30px;
    top: 10px;
    border-radius: 50%;
	box-shadow: 2px 2px 2px #262626;
	position:relative;
	margin-right: 10px;
}
footer .icon:hover {
	background-color: #ffffff;
	border-radius: 80%;
	opacity:0.3;
}
footer p{
	color: #8A8A8A;
	padding-left: 15px;
}

/*.main {
	background: url(../images/wrapper.png) no-repeat fixed;
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
}

*/

/* ====================== Animation of background picture ================= */
/*
@keyframes AutoSlide {
    0% {
        left: 0px;
    }
    15% {
        left: 0px;
    }
    35% {
        left: -35%;
    }
    50% {
        left: -50%;
    }
    70% {
        left: -70%;
    }
    85% {
        left: -95%;
    }
    100% {
    }
}
#slideshow {
    position: relative;
    width: auto;
    height: 100%;
    max-width: 100%;
    min-width: 100%;
    overflow: hidden;
}
#sContent li {
    display: inline;
}
#sContent {
    position: absolute;
    /*CSS3 keyframes animation*//*
    animation-name: AutoSlide;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
*/


/*
nav a:hover:after {
  content: "";
  display: block;
  border: 15px solid transparent;
  border-bottom-color: black;
  position: absolute;
  bottom: 0px;
  left: 50%;
  margin-left: -12px;
}*/
